body > footer {
    background:#111;
    color:#ccc;
    display: grid;
    grid-template-columns: auto auto auto;
    font-family:Arial, sans-serif; 
}
body > footer > div{
        display:grid;
        grid-template-rows: auto auto;
}
body > footer > p.copyright{
    color: #CCC;
    text-align: center;
}
.content-section1,.content-section2,.content-section3,.content-section4, .content-section5 {
    display:grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    padding: 20px;
}