body > footer {
    background:#111;
    color:#ccc;
    display: grid;
    grid-template-columns: auto auto auto;
    font-family:Arial, sans-serif; 
}
body > footer > div{
        display:grid;
        grid-template-rows: auto auto;
}
body > footer > p.copyright{
    color: #CCC;
    text-align: center;
}